
.btn-category{
    display: inline-block;
    width: 170px;
    height: 50px;
    border: 1px solid #358500;
    border-radius: 15%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1WjSl588ZFm_7rHZEOLX9ybWsl4vPt_qIVA&usqp=CAU);
    background-size: 95%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
}

.btn-category:hover{
    cursor: pointer;
    transition: 1s ease;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    }

.catalog-page{
    background-color: rgb(245, 232, 176);
}


      

